.header__lang-link {
  color: #fff;
  margin-top: 12px;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}

.header__lang-link:active {
  transition: 0.5s;
  opacity: 1;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
