.lead__title {
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  color: #fff;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    font-size: 9.35vw;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 12.5vw;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 90.7%;
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media (min-width: 321px) and (max-width: 385px) {
  .lead__title {
      font-size: 2.5rem;
      line-height: 3.5rem;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 12.5vw;
    line-height: 2.79rem;
  }
}
