.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  max-width: 484px;
  text-align: left;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 44vw;
    font-size: 1.76vw;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .place__paragraph {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    font-size: 5vw;
    line-height: 8.125vw;
  }
}

@media screen and (max-width: 319px) {
  .place__paragraph {
    width: 95vw;
  }
}
