.footer__copyright {
  color: white;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: 426px) and (max-width: 495px) {
  .footer__copyright {
    margin-top: 48px;
  }
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    margin-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-top: 48px;
  }
}
