.footer__copyright {
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 2vw;
  }
}

@media (min-width: 240px) and (max-width: 495px) {
  .footer__copyright {
    margin-top: 48px;
    font-size: 14px;
  }
}
