.lead__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 640px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 36px;
}

@media (min-width: 321px) and (max-width: 385px) {
  .lead__subtitle {
      max-width: 90.7%;
      font-size: 1.4rem;
      line-height: 1.8rem;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin-top: 16px;
    max-width: 90.7%;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
